$background-color-dark: #282c34;
$background-color-light: #3178c6;
$background-color-black: #000;
$background-color-white: #fff;
$text-color-dark: #000;
$text-color-light: #fff;

$background-color: $background-color-white;
$text-color: $text-color-dark;
$link-color: #f5f5f5;

:export {
  themeColor: $background-color;
}
